<!-- ======= Header ======= -->
<header id="header" class="header-top">
    <div class="container">

        <h1><a routerLink="/home">Geethanjali Ravichandra</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="mr-auto"><img src="./assets/img/logo.png" alt="" class="img-fluid"></a> -->
        <h2> <p class="mt-4" style="font-family:Raleway, sans-serif;">
            🚀 Hi, I’m Geethanjali — a full-stack developer passionate about building impactful, user-friendly digital solutions. 
        </p>
        <p style="font-family:Raleway, sans-serif;">
            Based in Boston, I combine strong technical skills with creativity to design and develop applications that solve real problems. 
            I love exploring new technologies, continuously learning, and bringing innovative ideas to life.
        </p>
        <p style="font-family:Raleway, sans-serif;">
            Outside of development, I paint and I'm a big fan of sci-fi and fantasy (currently re-reading The Lord of the Rings for the third time). 
            I find that these creative outlets help me think differently about design and problem-solving.
        </p>
        <p style="font-family:Raleway, sans-serif;">
            Feel free to reach out if you'd like to chat about tech, collaborate on a project, or just say hello!
        </p>
        </h2>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link" (click)="opentab($event)" id="hometab" name="home">Home</a></li>
                <li><a class="nav-link" (click)="opentab($event)" id="abouttab" name="about">About</a></li>
                <li><a class="nav-link active" (click)="opentab($event)" id="resumetab" name="resume">Resume</a></li>
              <!-- <li><a class="nav-link" (click)="opentab($event)" id="servicestab" name="services">Services</a></li> -->
                <li><a class="nav-link" (click)="opentab($event)" id="portfoliotab" name="portfolio">Portfolio</a></li>
                <li><a class="nav-link" (click)="opentab($event)" id="contacttab" name="contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <div class="social-links">
            <a [href]="githubURL" target="_blank" class="github"><i class="bi bi-github"></i></a>
            <a [href]="linkedURL" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>

    </div>
</header><!-- End Header -->

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume section-show">
    <div class="container headerlayer">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Check My Resume</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Senior Software Engineer</h4>
                    <h5>Sep 2024 - Present</h5>
                    <h4>Software Engineer</h4>
                    <h5>Jan 2023 - Sep 2024</h5>
                    <h4>Graduate Software Engineer</h4>
                    <h5>Aug 2022 - Jan 2023</h5>
                    <p><em>AtkinsRéalis, Bangalore, India </em></p>
                    <div>
                        <p>
                            • Led end-to-end development of 2 major projects using Angular, .NET Core, <br>
                             and Azure AD encompassing planning, design, implementation, and testing. <br>
                             Delivered both projects within a 7-month timeline achieving 100% milestone <br>
                             completion rate. <br>
                            • Implemented 5+ core features, including customized filtering system, <br>
                            lock/unlock mechanisms, and voting system for idea management, increasing <br>
                             user engagement by 35% based on analytics data. <br>
                            • Implemented robust user management and Azure AD Authentication using <br>
                            MSAL library and conducted end-to-end API testing across 50+ endpoints <br>
                            using Postman. <br>
                            • Managed Git version control resolving 15+ merge conflicts and automated <br> 
                            CI/CD pipelines through Azure DevOps, reducing deployment time across <br>
                            dev/QA/production environments. <br>
                            • Developed the Digital Academy platform serving 10,000+ employees <br>
                            organization-wide, contributing to 40% reduction in manual training coordination.

                        </p>
                    </div>
                </div>
                <div class="resume-item">
                    <h4>SDE Intern</h4>
                    <h5>Feb - July 2022</h5>
                    <p><em>AtkinsRéalis, Bangalore, India </em></p>
                    <div>
                        <p>
                            • Developed a robust PMC project management tool using .NET Core, Angular, <br> 
                             and MSSQL, supporting 1,000+ employees in efficient project tracking and <br> 
                             optimized resource allocation. <br>
                            • Configured Azure user groups and permissions for 200+ users across 15 <br>
                            departments, streamlining access management processes and reducing IT <br>
                            support tickets by 25%. <br> 
                            • Resolved 40+ software bugs and automated build/release pipelines through <br>
                            Azure DevOps for faster deployment cycles.

                        </p>
                    </div>
                </div>
                <div class="resume-item">
                    <h4>SDE Intern</h4>
                    <h5>September - Dec 2021</h5>
                    <p><em>Briselle Private Limited, Bangalore, India</em></p>
                    <div>
                        <p>
                            • Researched, evaluated and integrated three payment gateway solutions for <br> 
                            EdTech platform, enabling secure financial transactions and supporting 500+ <br>
                            student enrollments. <br>
                            • Developed fully responsive UI components using Bootstrap, HTML, CSS, and <br>
                            JavaScript for student and admin portals, significantly improving user <br>
                            satisfaction scores by 30% based on feedback surveys.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Education</h3>
                 <div class="resume-item pb-0">
                    <h4>Northeastern University (Khoury College of Computer Science)</h4>
                    <h5>2025 - present</h5>
                    <p><em>Master of Science in Computer Science | GPA: 3.56</em></p>
                    <div>
                        <ul>
                            <li>360 Huntington Ave, Boston, MA 02115</li>
                            <li>+1 (617) 373-2000</li>
                            <li><a href="https://www.northeastern.edu/">https://www.northeastern.edu/</a></li>
                        </ul>
                    </div>
                </div>

                <div class="resume-item pb-0">
                    <h4>M S Ramaiah University of Applied Sciences</h4>
                    <h5>2018 - 2022</h5>
                    <p><em>Bachelors of Technology in Computer Science and Engineering | CGPA: 9.23</em></p>
                    <div>
                        <ul>
                            <li>#470-p, Peenya Industrial Area, Peenya-IV Phase, Bangalore -560058</li>
                            <li>+91 80100 04444</li>
                            <li><a href="https://www.msruas.ac.in/">https://www.msruas.ac.in/</a></li>
                        </ul>
                    </div>
                </div>

                <div class="resume-item">
                    <h4>KMWA PU College</h4>
                    <h5>2016 - 2018</h5>
                    <p><em>PCMC (Physics, Chemistry, Mathematics and Computer Science) | Percentage: 83</em></p>
                    <div>
                        <ul>
                            <li>#CA - 5-B, 12th Cross, Fourth Main, West of Chord Road - Second Stage, Mahalakshmipuram, Bangalore 560086</li>
                            <li>+91 80469 24292</li>
                            <li><a
                                    href="https://deekshalearning.com/college/mahalakshmipuram-bengaluru/">https://deekshalearning.com/college/mahalakshmipuram-bengaluru/</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="resume-item">
                    <h4>Little Lillys English School</h4>
                    <h5>2004 - 2016</h5>
                    <p><em>10th Matriculation | Percentage: 95</em></p>
                    <div>
                        <ul>
                            <li> # 46, 8th Cross, Further Extension, Mahalakshmipuram, Bangalore 560086</li>
                            <li>+91 9916624474</li>
                            <li><a
                                    href="http://littlelillyseducationsociety.com/">http://littlelillyseducationsociety.com/</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Resume Section -->

<app-footer></app-footer>